<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="webecc Test Suite">
    <listeners>
        <listener class-name="com.webecc.utils.ScreenshotListener"/>
        <listener class-name="com.webecc.utils.ScreenshotHtmlReport"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="All Tests">
        <classes>
            <class name="com.webecc.regressionstests.BasicTest"/>
            <class name="com.webecc.regressionstests.KatalogSeitenRegressionsTest"/>
            <class name="com.webecc.regressionstests.LexikonRegressionTest"/>
            <class name="com.webecc.regressionstests.BaukastenRegressionsTest"/>
        </classes>
    </test>
</suite>
